.cointainer{
    width: 40vw;
   height: 100%;
   /* background-color: black; */
/* padding: 5%; */
}


input{
    width: 80%;
    height: 2rem;
    font-size: 1.5rem;
}
 .addbtn{
    border: 1px solid black;
    height: 2.2rem;
    width: 18%;
    background-color: #21B6A8;
    position: relative;
    top: -4px;
    /* border-radius: 15px; */
 }



 td{
    border: 1px solid black;
    margin: 0.3rem 0rem;
    padding: 0.3rem;
    width: 100%;
    height: 2rem;
    text-align: center;
    font-size: 1.5rem;
    background-color: #EFF1DB;
}

td button{
    height: 100%;
    width: 100%;
}

.removebtn{
    background-color: rgb(250, 65, 65);
    color: white;
}